/* .btn {
  font-size: 1.5rem;
  padding: 5px;
  margin: 5px;
  background-color: goldenrod;
  color: white;
}

.btn:hover {
  box-shadow: 4px 4px rgb(0.1, 0.1, 0,8);

}

h1{
  text-align: center;
}

/* body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
} */

/* .formdiv {
  margin: 10px;
  padding: 5px;
}

.formdiv label {
  margin-right: 25px;
  font-size: 20px;
}

.formdiv input {
  padding: 5px;
  font-size: 20px;

} */ 